<!doctype html>
<html data-framework="vue">

<head>
    <meta charset="utf-8">
    <title>Vue.js • TodoMVC</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <section class="todoapp">
        <header class="header">
            <input class="new-todo" autofocus autocomplete="off" placeholder="What needs to be done?" v-model="newTodo" @keyup.enter="addTodo">
        </header>
        <section class="main">
            <ul class="todo-list">
                <li class="todo" v-for="todo in filteredTodos" :class="{completed:todo.completed}">
                    <div class="view">
                        <input type="checkbox" class="toggle" v-model="todo.completed">
                        <label>{{todo.title}}</label>
                        <button class="destroy" @click="removeTodo(todo)"></button>
                    </div>
                </li>
            </ul>
        </section>
        <footer class="footer" v-show="todos.length">
            <span class="todo-count">
                <strong v-text="remaining"></strong>
            </span>
            <ul class="filters">
                <li><a href="#/all" :class="{selected: visibility == 'all'}">All</a></li>
                <li><a href="#/active" :class="{selected: visibility == 'active'}">Active</a></li>
                <li><a href="#/completed" :class="{selected: visibility == 'completed'}">Completed</a></li>
            </ul>
        </footer>
    </section>
    <!-- end testing/bench -->
    <script src="../vue.js"></script>
    <script src="./director.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>

</html>
