<!doctype html>
<html data-framework="vue">

<head>
    <meta charset="utf-8">
    <title>Vue.js • TodoMVC</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <section class="todoapp">
        <header class="header">
            <input class="new-todo" autofocus autocomplete="off" placeholder="What needs to be done?" v-model="newTodo" >
        </header>

        <section class="main">
            <ul class="todo-list">
                <li class="todo" v-for="todo in filteredTodos">
                    <div class="view">
                        <input type="checkbox" class="toggle">
                        <label>123</label>
                    </div>
                </li>
            </ul>
        </section>


    </section>
    <!-- end testing/bench -->
    <script src="../vue.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>

</html>
